import /ef4x.rc
import /init.wifi.rc

on init
    mount tmpfs tmpfs /
	chmod 777 /sbin/init_su
	chown root shell /sbin/init_su

    # @{marshmallow patch by hadik
    # Mount staging areas for devices managed by vold
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt 0755 root system
    mount tmpfs tmpfs /mnt mode=0755,uid=0,gid=1000
    restorecon_recursive /mnt

    mkdir /mnt/secure 0700 root root
    mkdir /mnt/secure/asec 0700 root root
    mkdir /mnt/asec 0755 root system
    mkdir /mnt/obb 0755 root system
    mkdir /mnt/media_rw 0750 root media_rw
    mkdir /mnt/user 0755 root root
    mkdir /mnt/user/0 0755 root root
    mkdir /mnt/expand 0771 system system

    # Storage views to support runtime permissions
    mkdir /storage 0755 root roo
    mkdir /mnt/runtime 0700 root root
    mkdir /mnt/runtime/default 0755 root root
    mkdir /mnt/runtime/default/self 0755 root root
    mkdir /mnt/runtime/read 0755 root root
    mkdir /mnt/runtime/read/self 0755 root root
    mkdir /mnt/runtime/write 0755 root root
    mkdir /mnt/runtime/write/self 0755 root root

    # Symlink to keep legacy apps working in multi-user world
    symlink /storage/self/primary /sdcard
    symlink /mnt/user/0/primary /mnt/runtime/default/self/primary

 # See storage config details at http://source.android.com/tech/storage/

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    # map "real" external storages paths also in same way. backwards compatibility.
    symlink /storage/extSdCard /mnt/extSdCard
    symlink /storage/UsbDriveA /mnt/UsbDriveA

# @}
    chown system system /sys/class/power_supply/battery/hw_switch_point
    chown system system /sys/class/power_supply/battery/save_capacity

    #SPRD: Add support for install apk to internal sdcard @{
    mkdir /mnt/secure/internal-asec 0700 root root
    # @}

on post-fs
#Load Driver On Boot.img
	insmod /lib/modules/autotst.ko
	insmod /lib/modules/gator.ko
	insmod /lib/modules/mmc_test.ko
    insmod /lib/modules/mali.ko
    insmod /lib/modules/sprdwl.ko
    insmod /lib/modules/trout_fm.ko

on post-fs-data
    chmod 775 /data/media/0

#Allow screenshot storage
    chmod 775 /data/media/0/Pictures
	chmod 775 /data/media/0/Pictures/Screenshots

#on boot

# virtual sdcard daemon running as media_rw (1023)
#service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
#    class late_start
#    oneshot

#service fuse_UsbDriveA /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/UsbDriveA /storage/UsbDriveA
#    class late_start
#    disabled

#service fuse_extSdCard /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/extSdCard /storage/extSdCard
#    class late_start
#    disabled
